<%- model_class = Training -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @training.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @training.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_time) %>:</strong></dt>
  <dd><%= @training.start_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finish_time) %>:</strong></dt>
  <dd><%= @training.finish_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:driver_id) %>:</strong></dt>
  <dd><%= @training.driver_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trainings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_training_path(@training), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              training_path(@training),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
