<%= form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="field">
    <%= f.label :fleet_number, :class => 'control-label' %>
	  <div class="controls">
    	<%= f.collection_select :fleet_id, Fleet.all, :id, :fleet_number, :promt => true %>
	  </div>
  </div>
  <div class="field">
    <%= f.label :repairer_id, :class => 'control-label' %>
	<div class="controls">
      <%= f.collection_select :repairer_id, Repairer.all, :id, :business_name, :promt => true, :class => 'text_field' %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :service_type, :class => 'control-label' %>
    <div class="controls">
      <%= select :service, :service_type, ['Scheduled', 'Unscheduled'], :promt => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :service_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :service_type_name, ServiceType.all.collect {|s| [s.name, s.id]}, :promt => true %>
    </div>
  </div>
  <div class="field">
  	<%= f.label :day, :class => 'control-label' %>
	<div class="controls">
      <%= f.text_field :start_service_date, :class => 'text_field' %>
	</div>
  	<%= f.label :start_time, :class => 'control-label' %>
	<div class="controls">
      <%= f.select :start_service_time, ['08:00', '10:00', '12:00', '14:00', '16:00'], :class => 'text_field' %>
	</div>
    <%= f.label :hours, :class => 'control-label' %>
	<div class="controls">
      <%= f.select :hours, [1, 2, 3, 4, 5, 6, 7, 8], :promt => true, :class => 'text_field' %>
	</div>
  </div>
  <div class="control-group">
	    <%= f.label :self_service, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.check_box :self_service, :class => 'check_box' %>
	    </div>
  </div>
  </br>
  <h3>Service details:</h3>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Required?</th>
	      <th>Done</th>
	      <th>Price</th>
	    </tr>
	  </thead>
	  <tbody>
	      <tr>
	        <td><%= f.label :service, :class => 'control-label' %></td>
	        <td><%= f.check_box :service, :class => 'check_box' %></td>
	        <td><%= f.check_box :service_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        	<td>
	        			$ <%= f.text_field :service_price, :class => 'text_field', :disabled => @service.id.nil? %>
	        	</td>
	      </tr>
		  <tr>
	        <td><%= f.label :warranty, :class => 'control-label' %></td>
	        <td><%= f.check_box :warranty, :class => 'check_box' %></td>
	        <td><%= f.check_box :warranty_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :warranty_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
		  <tr>
	        <td><%= f.label :damage, :class => 'control-label' %></td>
	        <td><%= f.check_box :damage, :class => 'check_box' %></td>
	        <td><%= f.check_box :damage_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :damage_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
		  <tr>
	        <td><%= f.label :repair, :class => 'control-label' %></td>
	        <td><%= f.check_box :repair, :class => 'check_box' %></td>
	        <td><%= f.check_box :repair_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :repair_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
		  <tr>
	        <td><%= f.label :breakdown, :class => 'control-label' %></td>
	        <td><%= f.check_box :breakdown, :class => 'check_box' %></td>
	        <td><%= f.check_box :breakdown_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :breakdown_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
	  </tbody>
	</table>

  <div class="control-group">
    <%= f.label :KM_since_last_service, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :KM_since_last_service, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time_since_last_service, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time_since_last_service, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :other, :class => 'text_area' %>
    </div>
  </div>
  <!-- gets data from new to populate the model -->
  <%= f.text_field :start_service_date, :class => 'hidden' %>
  <%= f.text_field :finish_service_date, :class => 'hidden' %>
  <%= f.text_field :start_service_time, :class => 'hidden' %>
  <%= f.text_field :finish_service_time, :class => 'hidden' %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :id => 'id-create' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                services_path, :id => 'id-cancel', :class => 'btn' %>
  </div>
<% end %>
<script>
$('.navbar').hide();
$('#id-cancel, #id-create').click(function(){
  window.close()
})
</script>