<%= form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="control-group">
		<%= f.label :start_service_time, :class => 'control-label fleet-labals font-bold' %>
		<div class="controls">
	      <%= f.select :start_service_time, [["08:00AM", 8], ["10:00AM", 10], ["12:00PM", 12], ["02:00PM", 14], ["04:00PM", 16]], {}, { :promt => true, :class => 'select-widht-height text_field_width_height' } %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :day, :class => 'control-label fleet-labals font-bold' %>
		<div class="controls">
	      <%= f.text_field :start_service_date, :id => 'id-day', :class => 'text_field text_field_width_height datepicker' %>
		</div>
	</div>
  <div class="control-group">
    <%= f.label :fleet_number, :class => 'control-label fleet-labals font-bold' %>
    <div class="controls">
      <%= f.collection_select :fleet_id, @fleets, :id, 
      current_user.truck_fleet.setting.truck_identification.to_sym, {}, {
      	:promt => true, :class => 'selectpicker select-widht-height text_field_width_height'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :repairer_id, :class => 'control-label fleet-labals font-bold' %>
		<div class="controls">
	      <%= f.collection_select :repairer_id, Repairer.all, :id, :business_name, {}, {
	      	:promt => true, :class => 'selectpicker select-widht-height text_field_width_height'} %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :service_schedule, :class => 'control-label fleet-labals font-bold' %>
    <div class="controls">
      <%= select :service, :service_type, ['Scheduled', 'Unscheduled'], {}, {
      	:promt => true, :class => 'selectpicker select-widht-height text_field_width_height'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :service_type, :class => 'control-label fleet-labals font-bold' %>
    <div class="controls">
      <%= f.select :service_type_name, @service_types, {}, {
      	:promt => true, :class => 'selectpicker select-widht-height text_field_width_height'} %>
    </div>
  </div>
	<div class="control-group">
  	<%#= f.label :start_time, :class => 'control-label fleet-labals font-bold' %>
		<div class="controls">
	      <%#= f.select :start_service_time, ['08:00', '10:00', '12:00', '14:00', '16:00'], {}, {
	      	:promt => true, :class => 'selectpicker select-widht-height text_field_width_height'} %>
		</div>
	</div>
	<div class="control-group">
    <%= f.label :hours, :class => 'control-label fleet-labals font-bold' %>
		<div class="controls">
	      <%= f.select :hours, [1, 2, 3, 4, 5, 6, 7, 8], {}, {:promt => true, :class => 'selectpicker select-widht-height text_field_width_height'} %>
		</div>
  </div>
  <div class="control-group">
	    <%= f.label :self_service, :class => 'control-label fleet-labals font-bold' %>
	    <div class="controls">
	      <%= f.check_box :self_service, :class => 'check_box' %>
	    </div>
  </div>
  </br>
  <h4 class="blue">Service details:</h4>
	<table class="table mtf-table">
	  <thead>
	    <tr class="border-radius border-color">
	      <th>Service name</th>
	      <th>Required</th>
	      <th>Done</th>
	      <th>Price</th>
	    </tr>
	  </thead>
	  <tbody>
	      <tr>
	        <td><%= f.label :service, :class => 'control-label' %></td>
	        <td><%= f.check_box :service, :class => 'check_box' %></td>
	        <td><%= f.check_box :service_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        	<td>
	        			$ <%= f.text_field :service_price, :class => 'text_field', :disabled => @service.id.nil? %>
	        	</td>
	      </tr>
		  <tr>
	        <td><%= f.label :warranty, :class => 'control-label' %></td>
	        <td><%= f.check_box :warranty, :class => 'check_box' %></td>
	        <td><%= f.check_box :warranty_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :warranty_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
		  <tr>
	        <td><%= f.label :damage, :class => 'control-label' %></td>
	        <td><%= f.check_box :damage, :class => 'check_box' %></td>
	        <td><%= f.check_box :damage_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :damage_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
		  <tr>
	        <td><%= f.label :repair, :class => 'control-label' %></td>
	        <td><%= f.check_box :repair, :class => 'check_box' %></td>
	        <td><%= f.check_box :repair_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :repair_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
		  <tr>
	        <td><%= f.label :breakdown, :class => 'control-label' %></td>
	        <td><%= f.check_box :breakdown, :class => 'check_box' %></td>
	        <td><%= f.check_box :breakdown_done, :class => 'check_box', :disabled => @service.id.nil? %></td>
	        <td>$ <%= f.text_field :breakdown_price, :class => 'text_field', :disabled => @service.id.nil? %></td>
	      </tr>
	  </tbody>
	</table>

  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :other, :rows => 5, :class => 'text_area' %>
    </div>
  </div>
  <!-- gets data from new to populate the model -->
  <%= f.text_field :finish_service_date, :class => 'hidden' %>
  <%= f.text_field :finish_service_time, :class => 'hidden' %>
  <div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary', :id => 'id-create' %>
    <%= link_to "Cancel",
                calendar_index_path, :id => 'id-cancel', :class => 'btn' %> 
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      service_path(@service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' if @service.id.present? %>
	<%#= link_to 'Finilize service', finish_service_path(@service.id,
		:fleet_id => @service.fleet_id,
		:warranty => @service.warranty_price,
		:repair => @service.repair_price,
		:damage => @service.damage_price,
		:breakdown => @service.breakdown_price,
		:service => @service.service_price), :class => 'btn btn-warning' if @service.id.present? %>
  </div>
<% end %>
<script>
$('.selectpicker').selectpicker();
$('.ie7-navigational').hide();
$('#id-cancel').click(function(){
  window.close();
})
</script>