<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:fleet_id) %></th>
      <th><%= model_class.human_attribute_name(:repairer_id) %></th>
      <th><%= model_class.human_attribute_name(:service_type) %></th>
      <th><%= model_class.human_attribute_name(:warranty) %></th>
      <th><%= model_class.human_attribute_name(:damage) %></th>
      <th><%= model_class.human_attribute_name(:repair) %></th>
      <th><%= model_class.human_attribute_name(:self_service) %></th>
      <th><%= model_class.human_attribute_name(:KM_since_last_service) %></th>
      <th><%= model_class.human_attribute_name(:time_since_last_service) %></th>
      <th><%= model_class.human_attribute_name(:start_service_date) %></th>
      <th><%= model_class.human_attribute_name(:finish_service_date) %></th>
      <th><%= model_class.human_attribute_name(:start_service_time) %></th>
      <th><%= model_class.human_attribute_name(:finish_service_time) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.id, service_path(service) %></td>
        <td><%= service.fleet_id %></td>
        <td><%= service.repairer_id %></td>
        <td><%= service.service_type %></td>
        <td><%= service.warranty %></td>
        <td><%= service.damage %></td>
        <td><%= service.repair %></td>
        <td><%= service.self_service %></td>
        <td><%= service.KM_since_last_service %></td>
        <td><%= service.time_since_last_service %></td>
        <td><%= service.start_service_date %></td>
        <td><%= service.finish_service_date %></td>
        <td><%= service.start_service_time %></td>
        <td><%= service.finish_service_time %></td>
        <td><%= service.name %></td>
        <td><%=l service.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_service_path(service), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      service_path(service),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
