<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>

<div class='field'>
	<div id='id-time' class='control-label'>Time: <%= @date[:hours] %>:00</div>
	<div id='id-date' class='control-label'>Day: <%= @date[:day] %>/<%= @date[:month] %>/<%= @date[:year] %> </div>
</div>
<%= render :partial => 'form' %>
<script>
$('.navbar').hide();
</script>