<div id="postpone"><%- model_class = Fleet -%>
	<% @fleet = Fleet.find(params[:fleet]) %>
	<%= form_for @fleet, :html => { :class => 'form-horizontal' }  do |f| %>
	  <div class="control-group">
      	<div class="controls">
      	  <%= f.label "Due or overdue date: #{@fleet.next_service_date}" %>
          <%= f.label 'Postpone until: ' %><%= f.date_select :next_service_date, :placeholder => params[:next_service], :class => 'text_field' %>
        </div>
  	  </div>
	  	<div class="form-actions">
    		<%= f.submit 'Postpone', :class => 'btn btn-primary' %>
    		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                calendar_index_path, :class => 'btn' %>
  		</div>
	<% end %>
</div>
