<div class='row'>
	<div id='id-repairers-list' class='span2'>
		<div id='wrap'>
			<div style='margin-bottom:74px'>
				<%= image_tag('MyTruckFleet/MyTruckFleet.png', :size => "128x64") %>	
			</div>
			<div id='external-events'>
				<% @trucks.each do |t| %>
					<%= link_to fleet_path(t) do %>
				  		<div class='external-event'><%= t.make %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class='span8'>
		<%= image_tag('MyCalendar/MyCalendar.jpg', :size => "128x64", :class => '') %>
		<div id='id-calendar'></div>
		<div id='id-my-team'>
			<%- model_class = Driver -%>
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th><%= model_class.human_attribute_name(:name) %></th>
			      <th><%= model_class.human_attribute_name(:phone_no) %></th>
			      <th><%= model_class.human_attribute_name(:pic) %></th>
			      <th><%= model_class.human_attribute_name(:training_schedule) %></th>
				  <th><%=t '.actions', :default => t("helpers.actions") %></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @drivers.each do |driver| %>
			      <tr>
			        <td><%= link_to driver.name, driver_path(driver) %></td>
			        <td><%= driver.phone_no %></td>
			        <td><%= driver.pic %></td>
			        <td><%= driver.training_schedule %></td>
					<td><%= link_to t('.edit', :default => 'Training'),
			                      new_training_path, :class => 'btn btn-mini' %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			
		</div>
	</div>
	<div id='id-trucks-list' class='span2'>
		<div id='wrap'>
			<div style='margin-bottom:46px'>
				<%= image_tag('MyRepairer/MyRepairer.jpg', :size => "128x64", :class => '') %>
			</div>
			<div id='external-events'>
				<% @repairers.each do |r| %>
					<%= link_to repairer_path(r) do %>
				  		<div class='external-event'><%= r.business_name %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  var startDate;
  startDate = function() {
    var day, today;
    today = new Date();
    day = today.getDay();
    switch (day - 2) {
      case -1:
        return 6;
      case -2:
        return 5;
      default:
        return day - 2;
    }
  };

  dateColor = function(past, current, upcoming){
	if (past) return 'red';
	if (current) return 'yellow';
	if (upcoming) return 'green';
  };
  
  $('#id-calendar').fullCalendar({
    aspectRatio: 0.5,
    defaultView: 'agendaWeek',
    slotMinutes: 120,
    minTime: 8,
    maxTime: 20,
    firstDay: startDate(),
	events: [
	<% @services.each do |s| %>
		{
			title: '<%= s.service_type %> SERVICE',
			color: function(){
				if (<%= s.start_service_date.nil? ? false : s.start_service_date < Date.today %>)
				  return 'red'
				else if (<%= s.start_service_date.nil? ? false : s.start_service_date >= Date.today && s.start_service_date <= Date.today + 3 %>) return '#8B8989'
				else return 'green'
			}(),			
			start: '<%= s.start_service_date %> <%= s.start_service_time.hour.to_s + ':00:00' if !s.start_service_time.nil? %>',
			end: '<%= s.start_service_date %> <%= s.finish_service_time.hour.to_s + ':00:00' if !s.finish_service_time.nil? %>',
			allDay: false
		},
	<% end %>
	<% @trainings.each do |t| %>
		{
			title: '<%= t.name %> TRAINING \n for <%= Driver.find(t.driver_id).name %>',
			color: function(){
				if (<%= t.date.nil? ? false : t.date < Date.today %>)
				  return '#C12267'
				else if (<%= t.date.nil? ? false : t.date >= Date.today && t.date <= Date.today + 3 %>) return '#AF7817'
				else return '#254117'
			}(),
			start: '<%= t.date %> <%= t.start_time.hour.to_s + ':00:00' if !t.start_time.nil? %>',
			end: '<%= t.date %> <%= t.finish_time.hour.to_s + ':00:00' if !t.finish_time.nil? %>',
			allDay: false
		},
	<% end %>
	],
	dayClick: function(date, allDay, jsEvent, view){
		m = date.getMonth() + 1;
		suffix = (date.getHours >= 12)? 'pm' : 'am';
		cuteLittleWindow = window.open("/services/new.html" + '?' + 
		'year='  + date.getFullYear() + '&' + 
		'month=' + m + '&' + 
		'day='   + date.getDate() + '&' + 
		'suffix=' + suffix + '&' +
		'hours=' + date.getHours(), "littleWindow", "location=no,width=640,height=400,top=250,left=300"); 
	}
  });
});
</script>