<% aws_name = "https://s3-ap-southeast-2.amazonaws.com/my-truck-fleet" %>
<div class='row'>
	<div class='span4'>
		<div class="reddish-border">
			<div class='highlight-red'>
				<span class="inline-header-count-number-red"><%= @overdue.present? ? @overdue.count : "0" %></span> Due vehicles
			</div>
			<!-- refactor due and overdue => replication -->
			<div class='overdue-body'>
				<% @overdue.each do |overdue| %>
			      	<div class='overdue-item'>
			      		<div style="float: left;">
			      		<%= link_to overdue.fleet.name, fleet_path(overdue.fleet) %>
				        <%= overdue.service_type.name %>
				        </div>
				        <div class="right">
				        	<%= link_to 'B', new_service_path(
				        		:year => Date.today.year,
				        		:month => Date.today.month,
				        		:day => Date.today.day,
				        		:hours =>  Time.now.hour
				        	),
	                      	  :class => 'btn btn-mini btn-success' %>
	                      	<%= link_to 'P', postpone_fleet_path(
	                      		:model => overdue.fleet.model, 
	                      		:next_service => overdue.fleet.next_service_date,
	                      		:id => overdue.fleet),
			                  :class => 'btn btn-mini btn-warning' %>
			                  <%= link_to 'C', cancel_fleet_path(
	                      		overdue.fleet,
	                      		:service_id => overdue.service_type.id),
			                  	:class => 'btn btn-mini btn-danger' %>
			             </div>
			             <div style="clear:both;"></div>
		             </div>
			    <% end if @overdue.present? %>
			</div>
		</div>
		<div class="yellowish-border">
			<div class='highlight-yellow'>
				<span class="inline-header-count-number-orange"><%= @due.present? ? @due.count : "0" %></span> Due vehicles
			</div>
			<div class='overdue-body'>
				<% @due.each do |due| %>
			      	<div class='overdue-item'>
						<div style="float: left;">
			      			<%= link_to due.fleet.name, fleet_path(due.fleet) %>
				        	<%= due.service_type.name %>
						</div>
				        <div class="right">
				        	<%= link_to 'B', new_service_path(
				        		:year => Date.today.year,
				        		:month => Date.today.month,
				        		:day => Date.today.day,
				        		:hours =>  Time.now.hour
				        	),
	                      	  :class => 'btn btn-mini btn-success' %>
	                      	<%= link_to 'P', postpone_fleet_path(
	                      		due.fleet,
	                      		:service_id => due.service_type.id),
			                  	:class => 'btn btn-mini btn-warning' %>
			                <%= link_to 'C', cancel_fleet_path(
	                      		due.fleet,
	                      		:service_id => due.service_type.id),
			                  	:class => 'btn btn-mini btn-danger' %>

			            </div>
						<div style="clear:both;"></div>
		             </div>
			    <% end if @due.present? %>
			</div>
		</div>
	</div>
	<div class='span8'>
		<div id='id-calendar'></div><br /><br />
	</div>
</div>
<div class='row'>
	<div id='id-repairers-list' class='span8'>
		<div class="bluish-border">
			<div class='highlight-blue'>
				<span class="inline-header-count-number-blue"><%= @trucks.count %></span> MyFleet 
				<span class="button-new-margin-left"><%= link_to t('.new', :default => t("helpers.links.new")),
            		new_fleet_path,
            		:class => 'btn btn-warning' %></span>
			</div>
			<div class='overdue-body'>
				<% @trucks.each do |k, tf| %>
				<div class='dropable-truck-fleet-class'>
					<%= k.trading_name_of_business.first(20) %><%= ".." if k.trading_name_of_business.size > 20 %> <span id='id-arrow-down-truck-fleet'>&#x25BC;</span>
				<div class="truck-fleet-elements open">
					<% tf.each do |t| %>
						<%= link_to fleet_path(t) do %>
							<div class='external-event'>
								<% aws_name = "https://s3-ap-southeast-2.amazonaws.com/my-truck-fleet" %>
						  		<%= image_tag t.avatar.url, :size => '24x24', :class => 'width-30' if t.avatar.present? %>
						  		<%= image_tag "#{aws_name}/#{t.vehicle_type}-MONO.png", :size => '24x24', :class => 'width-30' if t.vehicle_type.present? && !t.avatar.present? %>
						  		<%= image_tag "#{aws_name}/Truck-MONO.png", :size => '24x24', :class => 'width-30' if t.vehicle_type.nil? && !t.avatar.present? %> | 
						  		<%= t.name %>
							</div>
						<% end %>
					<% end %>
					</div>
				</div>
				<% end if current_user.admin? %>
				<% @trucks.each do |t| %>
					<%= link_to fleet_path(t) do %>
				  		<div class='external-event'>
				  			<%= image_tag t.avatar.url, :size => '24x24', :class => 'width-30' if t.avatar.present? %>
				  			<%= image_tag "#{aws_name}/#{t.vehicle_type}-MONO.png", :size => '24x24', :class => 'width-30' if t.vehicle_type.present? && !t.avatar.present? %>
				  			<%= image_tag "#{aws_name}/Truck-MONO.png", :size => '24x24', :class => 'width-30' if t.vehicle_type.nil? && !t.avatar.present? %> | 
				  			<%= t.send t.truck_fleet.setting.truck_identification.downcase %>
				  		</div>
					<% end %>
				<% end if @trucks.present? if !current_user.admin? %>
			</div>
		</div>
	</div>
	<div id='id-trucks-list' class='span4'>
		<div class="bluish-border">
			<div class='highlight-blue'>
				<span class="inline-header-count-number-blue"><%= @repairers.count %></span> MyRepairer
			</div>
			<div class='overdue-body'>
				<% @repairers.each do |r| %>
					<%= link_to repairer_path(r) do %>
						<div class='external-event'>
							<% if r.avatar.file? %>
							  <%= image_tag r.avatar.url, :size => '16x16', :class => 'width-30' %>
							<% else %> 
							  <%= image_tag "#{aws_name}/pin-2.png", :size => '16x16', :class => 'width-30' %>
							<% end %>
					  		| <%= r.business_name %>
					  	</div>
					<% end %>
				<% end %>

			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  var startDate;
  var myTeamLink = $('#id-my-team-link');
  var myTeam = $('#id-my-team');
  var myTeamArrow = $('#id-my-team-arrow');
  var dueHeader = $("#id-due-open");
  var dueItems = $("#id-due-items");
  var overdueHeader = $("#id-overdue-open");
  var overdueItems = $("#id-overdue-items");
  
  myTeam.hide();
  // dueItems.hide();
  dueHeader.click(function(){
  	dueItems.toggle("slow");
  });
  overdueHeader.click(function(){
  	overdueItems.toggle("slow");
  });
  
  myTeamLink.click(function(){
  	if (myTeamArrow.hasClass('open')){
  		myTeamLink.html('Display MyTeam');
  		myTeamArrow.removeClass('open');
  		myTeamArrow.html('&#x25BC;');
  	} else {
  		myTeamLink.html('Hide MyTeam');
  		myTeamArrow.addClass('open');
  		myTeamArrow.html('&#x25B2;');
  		
  	}	
  	myTeam.toggle('slow');
  });
 
  startDate = function() {
    var day, today;
    today = new Date();
    day = today.getDay();
    switch (day - 2) {
      case -1:
        return 6;
      case -2:
        return 5;
      default:
        return day - 2;
    }
  };
  
  $(".dropable-truck-fleet-class").click(function(){
  	if ($(this).find('div').hasClass('open')){
  		$(this).find('span').html("&#x25B2;");
  		$(this).find('div').toggle("slow").removeClass('open').addClass('closed'); //.toggle('slow')
  	} else {
  		$(this).find('span').html("&#x25BC;");
  		$(this).find('div').toggle("slow").removeClass('closed').addClass('open'); //.toggle('slow')
  	};
  });

  dateColor = function(past, current, upcoming){
	if (past) return 'red';
	if (current) return 'yellow';
	if (upcoming) return 'green';
  };
  
  agendaWeek = function(){
  	$("#id-calendar").fullCalendar('changeView', 'agendaWeek');
  };
  
  $('#id-calendar').fullCalendar({
    aspectRatio: 0.5,
    defaultView: 'agendaWeek',
    slotMinutes: 120,
    height: 650,
	header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,basicWeek,basicDay'
	},
	viewDisplay: function(view){
		if (view.name === 'basicDay')
			$('#id-calendar').fullCalendar('changeView', 'agendaDay');
		else if (view.name === 'basicWeek')
			$('#id-calendar').fullCalendar('changeView', 'agendaWeek');
	},
    minTime: 8,
    maxTime: 20,
    firstDay: startDate(),
	events: [
	<% @services.each do |s| %>
		{
			id: <%= s.id %>,
			title: '<%= s.service_type %> SERVICE',
			color: function(){
				if (<%= s.start_service_date.nil? ? false : s.start_service_date < Date.today %>)
				  return 'red'
				else if (<%= s.start_service_date.nil? ? false : s.start_service_date >= Date.today && s.start_service_date <= Date.today + 3 %>) return '#8B8989'
				else return 'green'
			}(),			
			start: '<%= s.start_service_date %> <%= s.start_service_time.hour.to_s + ':00:00' if !s.start_service_time.nil? %>',
			end: '<%= s.start_service_date %> <%= s.finish_service_time.hour.to_s + ':00:00' if !s.finish_service_time.nil? %>',
			allDay: false
		},
	<% end if @services.present? %>
	],
	eventClick: function(event, jsEvent, view){
		cuteLittleWindow = window.open("/services/" + event.id + "/edit",
			"littleWindow", "location=no,width=850,height=650,left=300");
	},
	dayClick: function(date, allDay, jsEvent, view){
		m = date.getMonth() + 1;
		suffix = (date.getHours >= 12)? 'pm' : 'am';
		cuteLittleWindow = window.open("/services/new.html" + '?' + 
		'year='  + date.getFullYear() + '&' + 
		'month=' + m + '&' + 
		'day='   + date.getDate() + '&' + 
		'suffix=' + suffix + '&' +
		'hours=' + date.getHours(), "littleWindow", "location=no,width=850,height=650,left=300"); 
	}
  });
  var $fcRightButtons = $('.fc-header-right [class*="fc-button"]').addClass('btn btn-primary').removeClass('fc-button-basicDay fc-state-default fc-corner-right')
  var $fcLeftButtons = $('.fc-header-left [class*="fc-button"]').addClass('btn btn-primary').removeClass('fc-button-basicDay fc-state-default fc-corner-right')
  
  	$fcRightButtons.click(function(el){
  		$fcRightButtons.addClass('btn-primary').removeClass('btn-warning');
  		$(this).addClass('btn-warning').removeClass('btn-primary');
  		var $fcAgendaAxis  = $('#id-calendar .fc-view-agendaDay .fc-agenda-axis')
  		var $fcDaysOfMonth = $('#id-calendar .fc-view-month .fc-widget-content')
  		
  		$fcAgendaAxis.each (function(i, time){
  			i > 0 ? $(time).addClass("bg-white") : undefined;
  		});
  		$fcDaysOfMonth.each (function(i, dayOfMonth){
  			console.log($(dayOfMonth));
  			$(dayOfMonth).hasClass('fc-other-month') ? $(dayOfMonth).addClass("bg-white") : $(dayOfMonth).addClass("current-month")
  		});
  	})
  
  var $oldRightTable = $('.fc-header-right > table');
  var $oldLeftTable = $('.fc-header-left > table');
	$('<div>')
	  .addClass('btn-group')
	  .attr("data-toggle", "buttons-radio")
	  .appendTo('.fc-header-right')
	  .append($fcRightButtons);
	$('<div>')
	  .addClass('btn-group')
	  .appendTo('.fc-header-left')
	  .append($fcLeftButtons);
	
	$oldRightTable.remove();
	$oldLeftTable.remove();
	
  var $fcCalendarBody = $('#id-calendar .fc-border-separate tbody');
  $fcCalendarBody.addClass("bg-white");
	
});
</script>