<%= @a %>
<%- model_class = Fleet -%>
<table class="table table-striped">
  <thead class="">
    <tr class="border-radius border-color">
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:pic) %></th>
      <th><%= model_class.human_attribute_name(:fleet_number) %></th>
      <th><%= model_class.human_attribute_name(:registration) %></th>
      <th><%= model_class.human_attribute_name(:VIN) %></th>
      <th><%= model_class.human_attribute_name(:make) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:auto_services) %></th>
      <th><%= model_class.human_attribute_name(:other) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @fleets.each do |fleet| %>
      <tr>
        <td><%= link_to fleet.id, fleet_path(fleet) %></td>
        <td>
        	<% aws_name = "https://s3-ap-southeast-2.amazonaws.com/my-truck-fleet" %>
        	<%= image_tag fleet.avatar.url, :size => '24x24' if fleet.avatar.present? %>
        	<%= image_tag "#{aws_name}/#{fleet.vehicle_type}.png", :size => '24x24' if fleet.vehicle_type.present? && !fleet.avatar.present? %>
        	<%= image_tag "#{aws_name}/Truck.png", :size => '24x24' if fleet.vehicle_type.nil? && !fleet.avatar.present? %>
        </td>
        <td><%= fleet.fleet_number %></td>
        <td><%= fleet.registration %></td>
        <td><%= fleet.vin %></td>
        <td><%= fleet.make %></td>
        <td><%= fleet.model %></td>
        <td><%= fleet.year %></td>
        <td><%= fleet.auto_services ? "Yes" : "No" %></td>
        <td><%= fleet.other %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_fleet_path(fleet), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      fleet_path(fleet),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_fleet_path,
            :class => 'btn btn-primary' %>
