<% @postponing = true %>
	
<div id="postpone"><%- model_class = Serviceable -%>
	<%= form_for @serviceable, :html => { :class => 'form-horizontal' }, :url => postponed_fleet_path(@serviceable), method: :put  do |f| %>
	  <div class="control-group">
      	<div class="controls">
      	  <%#= "Due or overdue date: #{@fleet.next_service_date}" %>
          <%= f.label 'Postpone until: ' %><%= f.text_field :next_service_date, :class => 'text_field datepicker' %>
        </div>
  	  </div>
	  	<div class="form-actions">
    		<%= f.submit 'Postpone', :class => 'btn btn-primary' %>
    		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                calendar_index_path, :class => 'btn' %>
  		</div>
	<% end %>
</div>