<% @setting.email_notifications.order("id").each do |en| %>
	<%= form_for en, :remote => true do |u| %>
	<div class="row">
		<div class="span3">
			<%= en.notification.name %>
		</div>
		<div class="span3">
			<%= u.check_box :primary, { :id => "email_notification_primary_" + en.id.to_s } %> Primary</br>
			<%= u.check_box :secondary, { :id => "email_notification_secondary_" + en.id.to_s } %> Secondary
		</div>
		<div class="span3">
		<% if en.notification.required_intervals? %>
			<%= u.select :interval, @days, {}, { :id => "email_interval_" + en.id.to_s } %>
		<% end %>
		<%= u.submit :email_notifications, :name => "some ", :class => 'hidden' %>
		</div>
	</div>
	<% end %>
<% end %>

<%= form_for @setting, :html => { :class => 'form-horizontal edit_settings' } do |f| %>

<div class="control-group">
	<%= f.label :truck_identification, :class => 'control-label' %>
	<div class="controls">
		<%= f.collection_select :truck_identification, 
			[
				["Fleet Number", "fleet_number"], 
				["Make", "make"], 
				["Model", "model"], 
				["VIN", "vin"], 
				["Registration", "registration"]
			], :last, :first, :class => 'text_field' %>
				<%= f.submit :truck_ids, :name => "different ", :class => 'btn btn-primary hidden' %>
	</div>
</div>
<% end %>

<% if current_user.role == 'Primary' %>
	<%- model_class = User -%>
	<div class="upper-table-info">
		<span class="table-count-number"><%= @users.count %></span>
		<span class="table-truck-fleet-name"><%= "Users" %></span>
	</div>
	<br/>

	<% if @users.present? %>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= model_class.human_attribute_name(:name) %></th>
	      <th>Approved</th>
	      <th>Email</th>
	      <th>Role</th>
	      <th><%=t '.actions', :default => t("helpers.actions") %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @users.each do |user| %>
				<%= form_for(user, :url => customer_path(user.id)) do |u| %>
		      <tr>
			      <td><%= user.name %></td>
		        <td><%= u.check_box :approved %><%#= user.truck_fleet.trading_name_of_business %></td>
			      <td><%= u.text_field :email %></td>
			      <td><%= u.select :role, ['Primary', 'Secondary'] %></td>
						<td>
						  <%= u.submit 'Change', :name => "update_customer", :class => 'btn btn-mini btn-primary'  %>
						</td>
		      </tr>
				<% end %>
	    <% end %>
	  </tbody>
	</table>
	<% else %>
	  No users!
	<% end %>
<% end %>