<%= form_for @setting, :html => { :class => 'form-horizontal' } do |f| %>

<div class="control-group">
	<%= f.label :truck_identification, :class => 'control-label' %>
	<div class="controls">
		<%= f.collection_select :truck_identification, 
			[
				["Fleet Number", "fleet_number"], 
				["Make", "make"], 
				["Model", "model"], 
				["VIN", "vin"], 
				["Registration", "registration"]
			], :last, :first, :class => 'text_field' %>
	</div>
</div>
  <% @setting.email_notifications.each do |en| %>
	<%= f.fields_for en do |builder| %>
	  <%= render "email_notifications", :f => builder, :email_notification => en %>
	<% end %>
  <% end %>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	settings_path, :class => 'btn' %>
</div>
<% end %> 