<%- model_class = User -%>
<div class="upper-table-info">
	<span class="table-count-number"><%= @users.count %></span>
	<span class="table-truck-fleet-name"><%= "Customers" %></span>
</div>
<br/>
<% if @users.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:truck_fleet_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.truck_fleet.present? %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.truck_fleet.trading_name_of_business %></td>
        <td>
          <%= link_to 'Approve', edit_customer_path(user.id), :class => 'btn btn-mini btn-primary' %>
          <%#= link_to 'Delete', :controller => :customer, :actoin => :delete, :id => user.id, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% else %>
  All users seem to be approved!
<% end %>