<%- model_class = Service -%>
<div class="row">
	<div class="span8">
		<div class="margin-bottom-10px">
		<%= high_chart("my_id", @h) %>
		</div>
			<%= high_chart("my_id4", @chart) do |c| %>
				<%= raw "options.tooltip.formatter = function() {return '<b> '+ this.point.name +'</b>: $'+ this.y +'.00 ';}"  %>
				<%= raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"  %>
			<% end %>
		
		</div>
	<div class="span4">
		<%= form_tag report_index_path, :html => { :class => 'form-horizontal' } do %>
		<div class="control-group">
	    <%= label_tag :by_type, "Group by type", :class => 'control-label' %>
	    	<label class='radio'>
	    		<%= radio_button_tag 'filter[type]', :name %> Truck identification
	    	</label>
	      <label class='radio'>
	    		<%= radio_button_tag 'filter[type]', :make, true %> Make
	    	</label>
	    	<label class='radio'>
	    		<%= radio_button_tag 'filter[type]', :model %>Model
	    	</label>
	  </div>
	<hr>
	  <div class="control-group">
	    <%= label_tag :by_service, "Calculate by service name", :class => 'control-label' %>
			<label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :fault_book, false, :id => 'filter_fault_book' %>Fault book
    	</label>
			
    	<label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :service, false, :id => 'filter_service_service' %>Service
    	</label>
    	<label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :damage, false, :id => 'filter_service_damage' %>Damage
    	</label>
    	<label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :breakdown, false, :id => 'filter_service_breakdown' %>Breakdown
    	</label>
    	<label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :warranty, false, :id => 'filter_service_warranty' %>Warranty
    	</label>
      <label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :repair, false, :id => 'filter_service_repair' %>Repair
    	</label>
    	<label class='checkbox'>
    		<%= check_box_tag 'filter[service][]', :all, true, :id => 'filter_service_all' %>All
    	</label>
	  </div>
	<hr>
	  <div class="control-group">
	  	<%#= label_tag :by_date, "Filter by service date", :class => 'control-label' %>
	  	<div class="text_field">
	  		<%#= text_field_tag 'filter[date_from]', (Date.today - 1.year).strftime("%d-%m-%Y"), 'data-behaviour' => 'datepicker' %></br>
	  	</div>
	  	<div class="text_field">
	  		<%#= text_field_tag 'filter[date_to]', Date.today.strftime("%d-%m-%Y"), 'data-behaviour' => 'datepicker' %>
	  	</div>
	  </div>
		<%= submit_tag nil, :class => "btn btn-success" %>
		<% end %>
	</div>
</div>

<% @fleets.each do |fleet| %>
<h2><%= fleet.name %></h2>
	<% if fleet.reports.present? %>
		<table class="table table-striped report-table">
		  <thead>
		    <tr>
		    	<th>Service type</th>
				  <th>Service</th>
				  <th>Warranty</th>
				  <th>Damage</th>
				  <th>Repair</th>
				  <th>Breakdown</th>
				  <th>Totals</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% warranty_total = fleet.reports.order('created_at DESC').pluck(:warranty).inject{|sum, x| sum.to_i + x.to_i} %>
		  	<% damage_total = fleet.reports.order('created_at DESC').pluck(:damage).inject{|sum, x| sum.to_i + x.to_i} %>
		  	<% repair_total = fleet.reports.order('created_at DESC').pluck(:repair).inject{|sum, x| sum.to_i + x.to_i} %>
		  	<% service_total = fleet.reports.order('created_at DESC').pluck(:service).inject{|sum, x| sum.to_i + x.to_i} %>
		  	<% breakdown_total = fleet.reports.order('created_at DESC').pluck(:breakdown).inject{|sum, x| sum.to_i + x.to_i} %>
		  	<% fleet.reports.order('created_at DESC').each do |report| %>
		      <tr>
		      	<td><%= report.support.service_type %></td>
		        <td><%= report.service %></td>
		        <td><%= report.warranty %></td>
		        <td><%= report.damage %></td>
		        <td><%= report.repair %></td>
		        <td><%= report.breakdown %></td>
		        <td><b><%= number_to_currency(report.service.to_i + report.warranty.to_i + report.damage.to_i + report.repair.to_i + report.breakdown.to_i) %></b></td>
		      </tr>
		     <% end %>
			</tbody>
			<tfoot>
				 <tr>
		    	<td><b>Total per service:</b></td>
		    	<td><b><%= number_to_currency(service_total) %></b></td>
		    	<td><b><%= number_to_currency(warranty_total) %></b></td>
		    	<td><b><%= number_to_currency(damage_total) %></b></td>
		    	<td><b><%= number_to_currency(repair_total) %></b></td>
		    	<td><b><%= number_to_currency(breakdown_total) %></b></td>
		    	<td><b>Sum: <%= number_to_currency(service_total.to_f + warranty_total.to_f + damage_total.to_f + repair_total.to_f + breakdown_total.to_f)%></b></td>
				 </tr>
				</tfoot>
		</table>
	<% else %>
	<% end %>
<% end %>
<script type="text/javascript">
	$('#filter_fault_book, #filter_service_repair, #filter_service_service, #filter_service_damage, #filter_service_breakdown, #filter_service_warranty').click(function(){
		if ($('#filter_service_all').is(":checked")){
			$('#filter_service_all').removeAttr('checked');
		}
	});
	$("#filter_service_all").click(function(){
		if ($('#filter_service_all').is(":checked")){
			$('#filter_fault_book, #filter_service_repair, #filter_service_service, #filter_service_damage, #filter_service_breakdown, #filter_service_warranty').removeAttr("checked");
		} else {
			$('#filter_service_breakdown').attr('checked', 'checked');
		}
	});
  $('#filter_date_from').datepicker({
  	format: 'dd-mm-yyyy'
  });
  $('#filter_date_to').datepicker({
  	format: 'dd-mm-yyyy'
  });
	$(".report-table").dataTable({
	  "iDisplayLength": 3,
		"aLengthMenu": [[3, 5, 10, 50, -1], [3, 5, 10, 50, "All"]],
    "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap"
	});
</script>