<h4>Optional contact</h4>
<div class="control-group">
	<%= f.label :content, "Name", :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :name %>
	</div>
	<%= f.label :content, "Email", :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :email %>
	</div>
	<%= f.label :content, "Phone", :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :phone %>
	</div>
</div>