<p>
  <%= f.label :main, "is it main contact?" %>
  <%= f.check_box :main %><br />
</p>
<p>
  <%= f.label :title, "Title: " %>
  <%= f.text_field :title %><br />
</p>
<p>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email %><br />
</p>
<p>
  <%= f.label :mobile, "Mobile: " %>
  <%= f.text_field :mobile %><br />
</p>