<%= form_for @fault_book, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :fault_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :fault_type, ["Minor", "Major"], :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :driver_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :driver_id, @drivers.collect {|s| [s.name, s.id]}, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fleet_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :fleet_id, @fleets.collect {|f| [f.name, f.id]}, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fault_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fault_date, :class => 'text_field datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mileage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mileage, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contact_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :faults, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :faults, :class => 'text_area', :rows => 5 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fault_books_path, :class => 'btn' %>
  </div>
<% end %>
<script>
	$('.datepicker').datepicker({
  	format: 'dd-mm-yyyy'
  });
</script>
