<img class='image' alt="Mytruckfleet" src="/assets/MyTruckFleet/MyTruckFleet.png" width="128" style="position: absolute; top: 10px; left: 70px;"/>
<div class="container">
	<ul class="nav nav-tabs right">
		<div class="top-menu-box">
			<div class='right'>
				<% if user_signed_in? %>
				Logged in as: Some dummy name
					<%= link_to 'Edit Account', edit_user_registration_path, :class => 'btn btn-primary'%>
					<%= link_to 'Settings', edit_setting_path(current_user.truck_fleet.setting), :class => 'btn btn-primary'%>
					<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary'%>
				<% end %>
			</div>
		</div>
	<% 3.times do  %>
	  </br>
	<% end %>
	<% if user_signed_in? && current_user.admin? %>
	
	<% elsif user_signed_in? %>
  	  <li class="<%= "active" if session[:active_menu] == 'MyCalendar' %>"><%= link_to 'MyCalendar', calendar_index_path %></li>
	  <li class="<%= "active" if session[:active_menu] == 'MyFleet' %>"><%= link_to 'MyFleet', fleets_path %></li>
	  <li class="<%= "active" if session[:active_menu] == 'MyReports' %>"><%= link_to 'MyReports', report_index_path %></li>
	  <li class="<%= "active" if session[:active_menu] == 'MyTeam' %>"><%= link_to 'MyTeam', drivers_path %></li>
	  <li class="<%= "active" if session[:active_menu] == 'MyRepairer' %>"><%= link_to 'MyRepairer', repairers_path %></li>
	<% end %>
	  <% if !user_signed_in? %>
	  <li><%= link_to 'Sign up', new_user_registration_path %></li>
	  <li><%= link_to 'Sign in', new_user_session_path %></li>
	<% end %>
	</ul>
</div>