<div class='row'>
	<div class="span6"></div>
	<div class="span6">
		<% if user_signed_in? && current_user.admin? %>
			<%= link_to 'Edit Account', edit_user_registration_path, :class => 'btn btn-primary'%>
			<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary'%>		
		<% elsif user_signed_in? %>
			<span class="blue"><%= "Logged in as: " + current_user.name if current_user.name %></span>
			<%= link_to 'Edit Account', edit_user_registration_path, :class => 'btn btn-primary'%>
			<%= link_to 'Settings', edit_setting_path(current_user.truck_fleet.setting), :class => 'btn btn-primary' %>
			<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-primary'%>
		<% end %>
	</div>
</div>
<br/>
<div class='row'>
	<div class='span12'>
		<div class='row'>
	<div class='span12'>
	<ul class="nav nav-tabs">
		<li><img class='' alt="Mytruckfleet" src="/assets/MyTruckFleet/_MyTruckFleet.png" width="128"/></li>
		<% if user_signed_in? && current_user.admin? %>	
		  <li class="<%= "active" if session[:active_menu] == 'MyCalendar' %>"><%= link_to "Truck Fleets", truck_fleets_path %>
		  <li class="<%= "active" if session[:active_menu] == 'MyCalendar' %>"><%= link_to "Customers", customers_path %></li>
		  <li class="<%= "active" if session[:active_menu] == 'MyCalendar' %>"><%= link_to "MyRepairers", repairers_path %></li>	
		<% elsif user_signed_in? %>
		  <li class="<%= "active" if session[:active_menu] == 'MyCalendar' %>"><%= link_to 'MyCalendar', calendar_index_path %></li>
		  <li class="<%= "active" if session[:active_menu] == 'MyFleet' %>"><%= link_to 'MyFleet', fleets_path %></li>
		  <li class="<%= "active" if session[:active_menu] == 'MyReports' %>"><%= link_to 'MyReports', report_index_path %></li>
		  <li class="<%= "active" if session[:active_menu] == 'MyTeam' %>"><%= link_to 'MyTeam', drivers_path %></li>
		  <li class="<%= "active" if session[:active_menu] == 'MyFaultBook' %>"><%= link_to 'MyFaultBook', fault_books_path %></li>
		  <li class="<%= "active" if session[:active_menu] == 'MyRepairer' %>"><%= link_to 'MyRepairer', repairers_path %></li>
		<% end %>
	  	<% if !user_signed_in? %>	
	  	  <li><%= link_to 'Sign up', new_user_registration_path %></li>
	  	  <li><%= link_to 'Sign in', new_user_session_path %></li>
		<% end %>
	</ul>
	</div>
	</div>
	</div>
</div>