<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "My Truck Fleet" %></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :highcharts %>
    <%= stylesheet_link_tag  %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "bootstrap-ie7buttonfix" if browser.ie7? %>
	<%= stylesheet_link_tag "bootstrap-ie8buttonfix" if browser.ie8? %>
    <%= yield(:head) %>
  </head>
  <body>
		<div class='<%= 'ie7-navigational' %>'>
			<div class="container">
				<div class="content">
					<%= render 'layouts/second_level_navigation' %>
				</div>
			</div>
		</div>
		<div class='<%= browser.ie7? ? 'ie7-module_info' : 'module_info' %>''>
			<div class="container">
				<div class="content">
					<%= render 'layouts/module_info' %>
				</div>
			</div>
		</div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">

              <%= render 'layouts/messages' %>
				<% if browser.ie6? %>
			  	  <p class="disclaimer">You're running an older IE version. Please update it!</p>
				<% else %>
			  	  <%= yield %>
              	  <%= yield :scripts %>
				<% end %>

          <footer class='footer'>
          	<%= render 'layouts/footer'%>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
